section.features {
    margin-bottom: 20px;
}
.btn-primary {
    color: #fff;
    background-color: rgb(42, 120, 134) !important;
    border-color: rgb(42, 120, 134) !important;
}
section.features ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
section.features li, section.features ul {
    list-style-type: none;
}
@media screen and (min-width: 1000px){
    section.features ul {
        /*justify-content: space-between;*/
    }
    section.features li {
        width: 31%;
    }
}
section.features a {
    border: 1px solid #e8e8e8;
    border-top: none;
    border-radius: 5px;
    text-align: center;
    padding: 92px 16px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    transition: all .2s ease-in-out;
    will-change: transform,box-shadow,border-color;
    position: relative;
    height: 100%;
}
section.features a:before, section.features a>.before {
    content: "";
    background: none 50%/cover no-repeat transparent;
    display: block;
    height: 72px;
    border-radius: 5px 5px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
section.features a:before, section.features a>.before {
    content: "";
    background: none 50%/cover no-repeat transparent;
    display: block;
    height: 72px;
    border-radius: 5px 5px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
@media screen and (min-width: 1280px){
    section.features h5 {
        font-size: 16px;
    }
}
section.features h5 {
    font-size: calc(15px + 1*(100vw - 420px)/860);
    color: #1f304c;
    font-weight: 600;
    margin: 0 0 5px;
    letter-spacing: .002em;
}
section.features p {
    font-size: 14px;
    color: #1f304c;
    line-height: 1.7;
    max-width: 255px;
}
section.features a:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 0;
    width: 100%;
}
section.features a:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0,0,0,.06);
  border-color: #f5f5f5;
  overflow: visible;
}

section.features a:hover:after {
  height: 4px;
}
.speak-expert-text {
    padding: 60px 90px 30px 50px !important;
    background-color: #47466c !important;
    color: #fff !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}
.btn-secondary {
    background-color: #fff;
    border: 1px solid#ffff;
    border-radius: 8px;
    color: rgb(42, 120, 134)!important;
    padding: 12px 30px 9px;
    font-weight: 600;
    font-size: 14px;
}
.float:hover {
  /*transform: translateY(-4px);*/
  /*box-shadow: 0 8px 16px rgba(0,0,0,.06);*/
  border-color: #f5f5f5;
  overflow: visible;
}
.float:hover:after {
  height: 4px;
}
.card {
    border: 1px solid #f0f0f0 !important;
    /*border-radius: 10px !important;*/
}
.col-md-4{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.top-title {
    font-size: 15px;
    font-weight: 600;
    color: rgb(42, 120, 134);
    text-transform: uppercase;
}
.benefits-text {
    padding: 60px 20px 30px 22px !important;
}
@media only screen and (min-width: 699px){
    .benefits-text {
        padding: 60px 20px 30px 90px !important;
    }
}

.section-title {
    font-size: 36px;
    color: #0e8a8a;
    font-weight: 600;
    font-family: 'Flamante-sten';
    text-transform: uppercase;
}
.section-title-1 {
    font-size: 36px;
    color: rgb(42, 120, 134);
    font-weight: 600;
    font-family: 'Flamante-sten';
    text-transform: uppercase;
}
@media only screen and (max-width: 1399px){
    .section-title {
        font-size: 25px;
    }
}

.benefits-text .para-text {
    font-size: 12px;
    line-height: 20px;
}
.benefits-text h4 {
    font-size: 15px;
    font-family: 'Flamante-sten';
    color: #0e8a8a;
}
.m-0 {
    margin: 0!important;
}
.benefits-text h4::before {
    content: "‎✔" !important;
    background-color: rgb(42, 120, 134) !important;
    color: rgb(255, 255, 255)!important;
    margin-right: 6px !important;
    padding: 2px 6px !important;
    border-radius: 3px !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
@media (min-width: 992px){
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.submit-form{
    background-color: #47466c !important;
  border: none;
  color: white !important;
  padding: 13px 70px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}