.card-carousel{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.card-carousel-container{
    width: 80vw;
    margin: auto;
    position: relative;
}

.anticon-arrow-left{
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    svg{
        transform: scale(1.5);
        path{
            fill: white;
        }
    }
}

.anticon-arrow-right{
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    svg{
        transform: scale(1.5);
        path{
            fill: white;
        }
    }
}