
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <!-- DataTales Example -->

    <div class="row">

        <!-- First Column -->
        <div class="col-lg-4">

            <!-- Custom Text Color Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Department Details</h6>
                </div>
                <div class="card-body">
                    <p class="text-gray-900 p-3 m-0">Name : {{department.name}}</p>
                    <p class="text-gray-900 p-3 m-0">Description : {{department.description}}</p>
                    <p class="text-gray-900 p-3 m-0">Created On : {{department.created}}</p>
                   
                    <a href="{% url 'department-delete' pk=department.pk  %}" class="btn btn-primary">
                        Delete
                     </a>
                     <a href="{% url 'department-update' pk=department.pk  %}" class="btn btn-primary">
                        Update
                     </a>
                      <a href="{% url 'department-create' %}" class="btn btn-primary">
                        Create
                     </a>
                    
                </div>
            </div>
        </div>
    </div>


</div>

    <!-- Page level plugins -->
    
{% endblock %}