
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>
            <h6 class="m-0 font-weight-bold text-primary text-right">
            <a href="{% url 'employee-create' %}">
                Add
            </a>
            </h6>
        </div>
       <div class="card-body">
            <div class="row">
              {% for employee in employee_list %}
                <div class="col-sm-3">
                  <div class="card" style="width:100%; margin-bottom: 5%;">
                    {% if employee.photo %}
                        <img class="card-img-top" src="{{employee.photo.url}}" alt="Card image" style="width:40%;  margin: 0 auto;height: 200px;">
                    {% else %}
                      <img class="card-img-top" src="{% static 'img/undraw_profile.svg' %}" alt="Card image" style="width:40%;  margin: 0 auto;height: 200px;">
                    {% endif %}
                      <div class="card-body">
                      <center>
                        <h4 class="card-title">{{employee.full_name|slice:":10"}}</h4>
                        <p class="card-text">Role : {{employee.role}}</p>
                        <a href="{% url 'employee-details' pk=employee.pk %}" class="btn btn-primary">See Profile</a>
                      </div>
                      <center>
                    </div>
                </div>
                <br> </br> <br>
                <div></div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

    <!-- Page level plugins -->
    
{% endblock %}